select {
  width: 150px;
}

.select-checkbox option::before {
  content: "\2610";
  width: 1.3em;
  text-align: center;
  display: inline-block;
}
.select-checkbox option:checked::before {
  content: "\2611";
}

.btn-list {
}
.btn-list.no-clicked {
  background-color: blue;
}
.btn-list.clicked {
  background-color: green;
}
.btn-map {
}
.btn-map.no-clicked {
  background-color: blue;
}
.btn-map.clicked {
  background-color: green;
}