form {
  display: flex;
}
.btn-search {
  background: #eb5b57;
  border-radius: 3px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  color: white;
  border: none;
  padding: 7px;
  max-height: 37px;
}

.multiselect {
  width: 200px;
}

.selectBox {
  display: flex;
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  display: none;
  border: 1px #dadada solid;
}

.checkboxes.expanded {
  max-height: 100px;
  display: block;
  overflow-y: scroll;
  border: 1px solid #B0BAC9;
  border-radius: 3px;
  padding: 5px 7px;
}


.checkboxes label {
  display: block;
}

.checkboxes label:hover {
  background-color: #1e90ff;
}
