table {  
  margin: 10px 0;
  font-size: 0.7em;
  font-family: sans-serif;
  min-width: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
thead tr {
  text-align: center;
}
th, td {
  padding: 4px 4px;
}