.login-page {
  padding: 2rem;
}
.messsage {
  border: 1px solid black;
  padding: 1rem 1.5rem;
}
.message.none {
  display: none;
}
.message.error {
  background-color: red;
  color: white;
}
.message.success {
  background-color: green;
  color: white;
}