.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px 40px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.login-nav {
    text-align: right;
}
.program {
    padding: 40px;
}
.logout {
    background: #EB5B57;
    border-radius: 3px;
    color: white;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    border: none;
    padding: 6px 10px;
    text-transform: capitalize;
  }
  button#btn-exit {
    background: url(/src/img/exit.svg) no-repeat scroll 7px;
    padding: 9px 20px;
    border: none;
    width: 17%;
    vertical-align: top;
}